.mapArea {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
.mapArea #simpleMap {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.mapArea .addNewActive {
  background-image: none;
  background-color: red;
}
.mapArea .active {
  background-blend-mode: overlay;
  border-color: transparent;
  color: white;
}
.mapArea .deleteButton {
  position: relative;
  float: right;
  right: 1em;
  top: 1em;
  z-index: 20;
}
.mapArea .filterArea {
  top: 90%;
  left: 15%;
  width: 75%;
  height: 4em;
  position: relative;
  z-index: 100;
  border: solid grey 1px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px grey;
  padding-left: 3%;
}
.mapArea .filterArea input {
  display: inline-block;
  width: 18%;
}
.mapArea .filterArea select {
  width: 18%;
  display: inline-block;
}
.mapArea .filterArea .bounceMarkerButton {
  width: 18%;
  float: right;
  overflow: hidden;
}
.mapArea .uiCalendarWrapper {
  position: absolute;
  background-color: lightgrey;
  z-index: 200;
  top: 10px;
  left: 50px;
  padding: 0;
  border: solid #c1c1c1 1px;
  border-radius: 4px;
}
.mapArea .uiCalendarWrapper .calendarToggle {
  background-color: white;
  padding: 0.3em 0.7em 0.3em 0.7em;
  color: grey;
}
.mapArea .uiCalendarWrapper .calendarToggle:focus {
  outline: 0;
}
.mapArea .uiCalendarWrapper .uiCalendar {
  padding: 0.5em;
}
.mapArea .btnOnMap {
  position: absolute;
  background-color: lightgrey;
  z-index: 200;
  padding: 0;
}
.mapArea .onMapBottomRight {
  bottom: 30px;
  right: 10px;
}
.mapArea .onMapTopRight {
  top: 10px;
  right: 10px;
}
.mapArea .filterOnMap {
  position: absolute;
  z-index: 200;
  bottom: 30px;
  right: 20px;
}
.markerPopup .markerPopupTitle {
  font-weight: bold;
  text-align: center;
  display: block;
}
.markerPopup button {
  padding: 0;
  margin: 2px 2px 0 2px;
  width: 25px;
}
.markerPopup .markerPopupAddDate {
  font-size: 8px;
  padding-top: 5px;
}
.infoArea {
  background-color: white;
}
.infoArea .sidebarToggle {
  background-color: white;
  color: grey;
  position: absolute;
  z-index: 10;
  height: 3em;
  top: 48%;
  margin-left: -1.9em;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: lightgrey;
  border-right: none;
  box-shadow: -4px 0 5px 0 #828282;
}
.infoArea .active {
  background-blend-mode: overlay;
  border-color: transparent;
  color: white;
}
.infoArea .sidebarToggle:focus {
  outline: 0;
}
.infoArea .pois {
  margin-left: 0.5em;
  height: 100%;
}
.infoArea .pois .panel-title > a:hover,
.infoArea .pois a:visited,
.infoArea .pois a:focus {
  text-decoration: none;
  outline: 0;
}
.infoArea .pois .panel-body {
  padding: 0.2em 0.2em 0.2em 0.2em;
}
.infoArea .pois dl {
  border: 3px double #ccc;
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.infoArea .pois dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: rgba(58, 58, 58, 0.76);
}
.infoArea .pois dt:after {
  content: ":";
}
.infoArea .pois dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
.infoArea .pois .poiLink {
  overflow: hidden;
}
.infoArea .pois .poiDescription span {
  padding: 0.2em 0 1em 1em;
  display: block;
}
.infoArea .pois .activePOI {
  background-color: #f5eddd;
}
.infoArea .pois .rulesHeadline {
  padding-left: 0.5em;
  padding-bottom: 0.2em;
  font-weight: bold;
  color: rgba(58, 58, 58, 0.76);
}
.infoArea .pois .rules {
  padding-left: 30px;
}
.infoArea .addNewActive {
  background-image: none;
  background-color: red;
}
@media (min-width: 992px) {
  .pois {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .pois img {
    width: auto;
    display: block;
    margin: 0 auto;
    max-height: 200px;
  }
}
@media (max-width: 992px) {
  .pois {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .pois img {
    width: 100%;
  }
}
.newPOIWrapper {
  background-color: white;
}
.newPOIWrapper .newPOIHeadline {
  padding-left: 0.3em;
}
.newPOIWrapper .newPOI .form-group .attrRow {
  margin-bottom: 1em;
}
.newPOIWrapper .newPOI .form-group .title {
  width: 80%;
  display: inline-block;
}
.newPOIWrapper .newPOI .form-group .POIPosition {
  width: 15%;
  float: right;
}
.newPOIWrapper .newPOI .form-group .POIPosition button {
  padding: 3px;
  height: 34px;
}
.newPOIWrapper .newPOI .form-group .POIPosition button img {
  height: 20px;
  padding: 2px 8px 2px 8px;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul {
  padding: 0;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dl {
  padding: 0.5em;
  margin-bottom: 0;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: grey;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dt:after {
  content: ":";
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
.newPOIWrapper .newPOI .form-group .POIRules ul {
  z-index: 100;
  padding: 0.5em;
  margin: 0;
}
.newPOIWrapper .newPOI .form-group .POIDate .dateTimeWrapper {
  padding-top: 0.5em;
}
.newPOIWrapper .newPOI .form-group .POIDate .dateTimeWrapper datetimepicker {
  display: block;
}
.newPOIWrapper .newPOI .form-group .POILink {
  width: 100%;
}
.newPOIWrapper .newPOI .form-group .POIImgLink {
  width: 100%;
}
.newPOIWrapper .eventList li {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.newPOIWrapper .eventAddButton {
  margin-left: 0.5em;
  padding: 0.1em 0.3em 0.1em 0.3em;
}
.newPOIWrapper .eventDeleteButton {
  margin-left: 0.5em;
  padding: 0.1em 0.3em 0.1em 0.3em;
}
@media (min-width: 992px) {
  .newPOIWrapper .POIRules ul li {
    white-space: nowrap;
  }
}
.newPOIWrapper .title.ng-valid,
.newPOIWrapper .category.ng-valid,
.newPOIWrapper .description.ng-valid,
.newPOIWrapper .link.ng-valid,
.newPOIWrapper .imgpath.ng-valid {
  background-color: rgba(128, 194, 138, 0.5);
}
.newPOIWrapper .title.ng-dirty.ng-invalid-required,
.newPOIWrapper .category.ng-dirty.ng-invalid-required,
.newPOIWrapper .description.ng-dirty.ng-invalid-required {
  background-color: rgba(220, 138, 138, 0.5);
}
.newPOIWrapper .title.ng-dirty.ng-invalid-minlength,
.newPOIWrapper .title.ng-dirty.ng-invalid-maxlength,
.newPOIWrapper .description.ng-dirty.ng-invalid-maxlength,
.newPOIWrapper .description.ng-dirty.ng-invalid-minlength {
  background-color: rgba(210, 213, 37, 0.5);
}
@media (max-width: 992px) {
  .newPOIWrapper .POIRules ul li span {
    height: auto;
  }
}
.eventModal .eventAttr {
  display: block;
  padding: 1em 1em 1em 1em;
}
.eventModal .popover {
  background: white;
}
.eventModal .title.ng-valid,
.eventModal .link.ng-valid {
  background-color: rgba(128, 194, 138, 0.5);
}
.eventModal .title.ng-dirty.ng-invalid-required {
  background-color: rgba(220, 138, 138, 0.5);
}
.eventModal .title.ng-dirty.ng-invalid-minlength,
.eventModal .title.ng-dirty.ng-invalid-maxlength {
  background-color: rgba(210, 213, 37, 0.5);
}
body,
html {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}
.btn-qz-blue {
  background-image: none;
  background-color: #0087c6;
  text-shadow: none;
}
.btn-qz-red {
  background-image: none;
  background-color: #e74011;
  text-shadow: none;
}
.btn-qz-purple {
  background-image: none;
  background-color: #951b81;
  text-shadow: none;
}
.btn-qz-grey {
  background-image: none;
  background-color: #575656;
  text-shadow: none;
}
.btn-qz-yellow {
  background-image: none;
  background-color: #f9b000;
  text-shadow: none;
}
.btn-qz-green {
  background-image: none;
  background-color: #76b729;
  text-shadow: none;
}
.active {
  background-blend-mode: overlay;
  border-color: transparent;
  color: white;
}
.leaflet-popup-content-wrapper {
  min-width: 250px;
}
.main {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  position: fixed;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 992px) {
  .main {
    float: left;
    width: 100%;
  }
}
.main .header {
  position: absolute;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 4.5%;
  z-index: 100;
  text-align: center;
  padding: 0.2em;
  color: rgba(0, 0, 0, 0.8);
  background-image: url(../img/redox_01.png);
  font-size: 1.8em;
  border-bottom: solid 1px #dedede;
  box-shadow: 0px 4px 5px 0px #828282;
  overflow-x: auto;
}
@media (min-width: 992px) {
  .main .header {
    float: left;
    width: 100%;
  }
}
.main .header button,
.main .header .importBlock,
.main .header .csvImport {
  float: right;
  margin-left: 20px;
}
.main .header .csvImport {
  color: white;
  margin-left: 5px;
  height: 34px;
  border: solid #46b8da 1px;
  border-radius: 4px;
  background-color: #5bc0de;
}
.main .header .csvImport div input {
  padding-top: 4px;
}
.main .contentWrapper {
  width: 100%;
  height: 92%;
}
.main .contentWrapper .content {
  height: 99%;
}
.main .contentWrapper .content .mapArea {
  z-index: 0;
  height: 100%;
}
.main .contentWrapper .content .infoArea {
  height: 100%;
  box-shadow: -4px 0 5px 0 #828282;
  overflow-x: visible;
  padding-left: 0;
  padding-right: 0;
  border-left: solid 2px #dedede;
}
.main .smallMap {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .main .smallMap {
    float: left;
    width: 75%;
  }
}
.main .bigMap {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .main .bigMap {
    float: left;
    width: 99.16666667%;
  }
}
.main .showSidebar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .main .showSidebar {
    float: left;
    width: 25%;
  }
}
.main .hideSidebar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .main .hideSidebar {
    float: left;
    width: 0.83333333%;
  }
}
.main .smallMap,
.main .bigMap,
.main .showSidebar,
.main .hideSidebar {
  padding-left: 0;
  padding-right: 0;
}
.main .footer {
  position: absolute;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px -2px 5px 0px #bdbdbd;
  height: 4%;
  min-height: 35px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
  background-image: url(../img/redox_01.png);
  bottom: 0;
  text-align: right;
  border-top: solid 1px #dedede;
  padding: 0.4em 1em 0.2em 1em;
}
@media (min-width: 992px) {
  .main .footer {
    float: left;
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main {
    overflow: auto;
  }
}
