.mapArea {
  position: absolute;
  width: 100%;
  margin: 0 auto;
}
.mapArea #simpleMap {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.mapArea .deleteButton {
  position: relative;
  float: right;
  right: 1em;
  top: 1em;
  z-index: 20;
}
.markerPopup .markerPopupTitle {
  font-weight: bold;
  text-align: center;
  display: block;
}
.markerPopup button {
  padding: 0;
  margin: 2px 2px 0 2px;
  width: 25px;
}
.infoArea dl {
  border: 3px double #ccc;
  padding: 0.5em;
}
.infoArea dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: rgba(58, 58, 58, 0.76);
}
.infoArea dt:after {
  content: ":";
}
.infoArea dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
.infoArea img {
  width: 100%;
}
.infoArea .activePOI {
  background-color: #f5eddd;
}
.newPOIWrapper {
  overflow: visible;
}
.newPOIWrapper .newPOIHeadline {
  padding-left: 0.3em;
}
.newPOIWrapper .newPOI .form-group .attrRow {
  margin-bottom: 1em;
}
.newPOIWrapper .newPOI .form-group .title {
  width: 80%;
  display: inline-block;
}
.newPOIWrapper .newPOI .form-group .POIPosition {
  width: 15%;
  float: right;
}
.newPOIWrapper .newPOI .form-group .POIPosition button {
  padding: 3px;
  height: 34px;
}
.newPOIWrapper .newPOI .form-group .POIPosition button img {
  height: 20px;
  padding: 2px 8px 2px 8px;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul {
  padding: 0;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dl {
  padding: 0.5em;
  margin-bottom: 0;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
  color: grey;
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dt:after {
  content: ":";
}
.newPOIWrapper .newPOI .form-group .POIPosition ul dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}
.newPOIWrapper .newPOI .form-group .POIRules ul {
  z-index: 10000!important;
  padding: 0.5em;
  margin: 0;
}
.newPOIWrapper .newPOI .form-group .POIDate .dateTimeWrapper {
  padding-top: 0.5em;
}
.newPOIWrapper .newPOI .form-group .POIDate .dateTimeWrapper datetimepicker {
  display: block;
}
.newPOIWrapper .newPOI .form-group .POILink {
  width: 100%;
}
.newPOIWrapper .newPOI .form-group .POIImgLink {
  width: 100%;
}
@media (min-width: 992px) {
  .newPOIWrapper .POIRules ul li {
    white-space: nowrap;
  }
}
@media (max-width: 992px) {
  .newPOIWrapper .POIRules ul li span {
    height: auto;
  }
}
body,
html {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0;
  position: fixed;
  height: 100%;
  overflow: hidden;
}
@media (min-width: 992px) {
  .main {
    float: left;
    width: 100%;
  }
}
.main .header {
  position: absolute;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 4.5%;
  z-index: 100;
  text-align: center;
  padding: 0.2em;
  color: rgba(0, 0, 0, 0.8);
  background-image: url(../img/redox_01.png);
  font-size: 1.8em;
  border-bottom: solid 1px #dedede;
  overflow-x: auto;
}
@media (min-width: 992px) {
  .main .header {
    float: left;
    width: 100%;
  }
}
.main .header button {
  float: right;
  margin-left: 5px;
}
.main .header .csvImport {
  color: white;
  float: right;
  margin-left: 5px;
  height: 34px;
  border: solid #46b8da 1px;
  border-radius: 4px;
  background-color: #5bc0de;
}
.main .header .csvImport div input {
  padding-top: 4px;
}
.main .mapArea {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 0;
  height: 92%;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 992px) {
  .main .mapArea {
    float: left;
    width: 83.33333333%;
  }
}
.main .infoArea {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: auto;
  height: 92%;
  padding-left: 0;
  padding-right: 0;
  border-left: solid 2px #dedede;
}
@media (min-width: 992px) {
  .main .infoArea {
    float: left;
    width: 16.66666667%;
  }
}
.main .footer {
  position: absolute;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  height: 3.5%;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
  background-image: url(../img/redox_01.png);
  bottom: 0;
  text-align: right;
  border-top: solid 1px #dedede;
  padding: 0.4em 1em 0.2em 1em;
}
@media (min-width: 992px) {
  .main .footer {
    float: left;
    width: 100%;
  }
}
.aside-backdrop.am-fade {
  display: none;
}
.windowTopClass {
  width: 0;
}
