#header {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    color: rgba(0, 0, 0, .8);
    background-image: url(../img/redox_01.png);
    margin-bottom: 40px;
    font-size: 30px;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 15px;
    font-size: 30px;
    text-align: center;
    color: rgba(0, 0, 0, .8);
    background-image: url(../img/redox_01.png);
}

#simpleMap {
    margin: 100px auto;
    width: 800px;
    height: 500px;
    border: solid 1px grey;
}

.markerList {
    width: 100%;
    padding-top: 2em;
}