.infoArea {
  background-color: white;
  .sidebarToggle {
    background-color: white;
    color: grey;
    position: absolute;
    z-index: 10;
    height: 3em;
    top: 48%;
    margin-left: -1.9em;
    border-left: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: lightgrey;
    border-right: none;
    box-shadow:  -4px 0 5px 0 rgba(130,130,130,1);
  }
  .active{
    background-blend-mode: overlay;
    border-color: transparent;
    color: white;
  }
  .sidebarToggle:focus {
    outline:0;
  }
  .pois {
    margin-left: 0.5em;
    height: 100%;
    .panel-title > a:hover, a:visited, a:focus {
      text-decoration: none;
      outline: 0;
    }
    .panel-body {
      padding: 0.2em 0.2em 0.2em 0.2em;
    }
    dl {
      border: 3px double #ccc;
      padding: 0.5em;
      margin-bottom: 0.5em;
    }
    dt {
      float: left;
      clear: left;
      width: 100px;
      text-align: right;
      font-weight: bold;
      color: rgba(58, 58, 58, 0.76);
    }
    dt:after {
      content: ":";
    }
    dd {
      margin: 0 0 0 110px;
      padding: 0 0 0.5em 0;
    }
    img {

    }
    .poiLink {
      overflow: hidden;
    }
    .poiDescription {
      span {
        padding: 0.2em 0 1em 1em;
        display: block;
      }
    }
    .activePOI {
      background-color: #f5eddd;
    }
    .rulesHeadline {
      padding-left: 0.5em;
      padding-bottom: 0.2em;
      font-weight: bold;
      color: rgba(58, 58, 58, 0.76);
    }
    .rules {
      padding-left: 30px;
    }
  }
  .addNewActive {
    background-image: none;
    background-color: red;
  }
}

@media (min-width: @screen-md-min) {
  .pois {
    overflow-y: auto;
    overflow-x: hidden;
    img {
      width: auto;
      display: block;
      margin: 0 auto;
      max-height: 200px;
    }
  }
}

@media (max-width: @screen-md-min) {
  .pois {
    overflow-y: auto;
    overflow-x: hidden;
    img {
      width: 100%;
    }
  }
}