.modal-sm {
  margin-top: 50px;
  margin-right: 5px;
  height: 500px;
}
.newMarker {
  .form-group {
    .attrRow {
      margin-bottom: 1em;
    }
    .title {
      width: 80%;
      display: inline-block;
    }
    .markerPosition {
      width: 15%;
      float: right;
      button {
        height: 34px;
        img {
          width: 12px;
        }
      }
      ul {
        padding: 0;
        dl {
          padding: 0.5em;
          margin-bottom: 0;
        }
        dt {
          float: left;
          clear: left;
          width: 100px;
          text-align: right;
          font-weight: bold;
          color: grey;
        }
        dt:after {
          content: ":";
        }
        dd {
          margin: 0 0 0 110px;
          padding: 0 0 0.5em 0;
        }
      }
    }
    .markerCategory {

    }
    .markerRules {
      ul {
        padding: 0.5em;
        margin: 0;
        li {

        }
      }
    }
    .markerDate {
      span {

      }
      .dateTimeWrapper {
        padding-top: 0.5em;
        datetimepicker {
          display: block;
        }
      }
    }
    .markerLink {
      width: 100%;
    }
    .markerImgLink {
      width: 100%;
    }
  }
}

@media (min-width: @screen-md-min) {
  .markerRules {
    ul {
      li {
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: @screen-md-min) {
  .markerRules {
    ul {
      li {
        span {
          height: auto;
        }
      }
    }
  }
}