<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QZ-Nachhaltigkeitskarte</title>

    <!-- CSS imports -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css"/>
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css">
    <link rel="stylesheet" href="bower_components/leaflet-control-osm-geocoder/Control.OSMGeocoder.css">
    <link rel="stylesheet" href="bower_components/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    <link rel="stylesheet" href="css/app.css">

    <!-- JQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Angularjs -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!-- DateTimePicker -->
    <script src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="bower_components/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.min.js"></script>
    <!-- Angular Calendar -->
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="bower_components/fullcalendar/dist/gcal.js"></script>
    <script src="bower_components/fullcalendar/dist/lang-all.js"></script>
    <!-- CSV-Export/Import -->
    <script src="bower_components/ng-csv/build/ng-csv.min.js"></script>
    <script src="bower_components/angular-csv-import-tmp/dist/angular-csv-import.min.js"></script>
    <!-- Bootstrap -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Leaflet -->
    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/Leaflet.SmoothMarkerBouncing/leaflet.smoothmarkerbouncing.js"></script>
    <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="bower_components/leaflet-control-osm-geocoder/Control.OSMGeocoder.js"></script>
    <script src="bower_components/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>

    <!-- OSM-TestApp -->
    <script src="js/databaseService.js"></script>
    <script src="js/iconService.js"></script>
    <script src="js/csvService.js"></script>
    <script src="js/seedService.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/mainCtrl.js"></script>
    <script src="js/newPoiCtrl.js"></script>
    <script src="js/adminCtrl.js"></script>
    <script src="js/mapCtrl.js"></script>
    <script src="js/osmApp.js"></script>
</head>

<body>
    <div ng-app="osmApp" ng-controller="osmAppCtrl" ng-init="loaded = false">
        <div class="spinner" ng-if="loaded"></div>
        <div class="loadingInfo" ng-if="loaded">
            <span>Bitte verwenden Sie eine Auflösung größer 1200x800</span></br>
            <span>Optimiert für Google Chrome, Firefox, Opera und Safari</span>
        </div>
        <div ng-hide="loaded" ui-view ng-cloak></div>
    </div>
</body>
