<div class="content" ng-controller="mainCtrl">
    <!-- MAP Area, displaying leaflet-map, calendar and filterArea -->

    <div class="mapArea" ng-class="{'smallMap': showSidebar, 'bigMap': !showSidebar}">
        <div class="well btnOnMap onMapTopRight">
            <button class="btn btn-default" title="Quartier Zukunft">
                <img src="/img/QZ_LogoSquare-A.svg" width="75">
            </button>
        </div>

        <!-- Hier geht der Filter los-->
        <div class="well well-sm btnOnMap onMapBottomRight">
            <!--btn default wurde bei den buttons entfernt, damit bei hover nicht grau wird -->
            <div class="btn-group">
                <div class="btn-group">
                    <button class="btn btn-qz-blue" title="Nachhaltige Mobilität"
                            ng-model="conditions.categories"
                            ng-class="{'active': conditions.categories.indexOf(config.categories[0]) != -1}"
                            ng-click="setCatCondition(config.categories[0])">
                        <i class="material-icons">directions_bike</i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-qz-red" title="Nachhaltiges Wirtschaften"
                            ng-model="conditions.categories"
                            ng-class="{'active': conditions.categories.indexOf(config.categories[1]) != -1}"
                            ng-click="setCatCondition(config.categories[1])">
                        <i class="material-icons">euro_symbol</i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-qz-purple" title="Bildung und Wissenschaft"
                            ng-model="conditions.categories"
                            ng-class="{'active': conditions.categories.indexOf(config.categories[2]) != -1}"
                            ng-click="setCatCondition(config.categories[2])">
                        <i class="material-icons">school</i>
                    </button>
                </div>

                <div class="btn-group">
                    <button class="btn btn-qz-grey" ng-model="conditions.categories"
                            title="Gemeinschaft und Soziales"
                            ng-class="{'active': conditions.categories.indexOf(config.categories[3]) != -1}"
                            ng-click="setCatCondition(config.categories[3])">
                        <i class="material-icons">people</i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-qz-yellow" ng-model="conditions.category"
                            ng-class="{'active': conditions.categories.indexOf(config.categories[4]) != -1}"
                            ng-click="setCatCondition(config.categories[4])"
                            title="Umwelt und Raumentwicklung">
                        <i class="material-icons">nature</i>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-qz-green" ng-model="conditions.category"
                            ng-click="setCatCondition(config.categories[5])"
                            ng-class="{'active': conditions.categories.indexOf(config.categories[5]) != -1}"
                            title="Energie und Versorgung">
                        <i class="material-icons">flash_on</i>
                    </button>
                </div>
            </div>
            <!--<button class="btn btn-group">-->
            <button class="btn btn-group btn-default"
                    title="Neuen Ort hinzufügen"
                    ng-model="addNew"
                    ng-click="addNew = !addNew"
                    ng-class="{addNewActive: addNew == true}">
                <i class="material-icons">add_location</i>
            </button>
            <!--<button class="bounceMarkerButton btn btn-warning" ng-class="{'active': bouncing}" ng-click="currentMarkerBouncingToggle()">Laufende Projekte!</button>-->
        </div>

        <!-- Map Container -->
        <div ng-controller="mapCtrl" id="simpleMap"></div>

        <!-- Calendar -->
        <div class="well well-sm uiCalendarWrapper" ng-init="showCalendar = false"
             ng-style="showCalendar && {'width': '60%'}">
            <button class="btn calendarToggle" ng-click="showCalendar = !showCalendar"><i
                    class="glyphicon glyphicon-calendar"></i></button>
            <div class="uiCalendar" ng-if="showCalendar" ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        </div>
    </div>

    <!-- INFO Area, displaying PointOfInterests, newPoi form -->
    <div class="infoArea" ng-model="showSidebar" ng-init="showSidebar = true"
         ng-class="{'showSidebar': showSidebar, 'hideSidebar': !showSidebar}">
        <button class="sidebarToggle" ng-click="showSidebar = !showSidebar">
            <i ng-class="{'glyphicon glyphicon-chevron-right': showSidebar,  'glyphicon glyphicon-chevron-left': !showSidebar} "></i>
        </button>

        <div ng-if="formToggle">
            <new-poi temp-marker="tempMarker"
                     save-poi="savePOI"
                     cancel="cancel"
                     old-poi="oldPOI"
                     update-poi="updatePOI"
                     save-event="saveEvent"
                     delete-event="deleteEvent">
            </new-poi>
        </div>


        <div ng-if="!formToggle" class="pois" ng-style="!showSidebar && {'display': 'none'}">
            <br>
            <h4 align="center">Nachhaltigkeits-Karte Karlsruhe Oststadt</h4>
            <br>
            <!--Nachhaltigkeitskategorien koennen hier ausgewählt werden -->
            <div class="filterArea well well-sm">
                <span>SUCHEN IM TITEL NACH... </span>
                <input class="form-control" ng-model="conditions.condition"
                       ng-change="filter(conditions)">

                <select class="ruleSelect form-control" ng-model="conditions.rule" ng-change="filter(conditions)">
                    <option value="">Alle Nachhaltigkeitsregeln ausgewählt</option>
                    <option ng-repeat="(short, rule) in config.rules" value="{{short}}">{{rule}}</option>
                </select>
                <select class="ruleSelect form-control" ng-model="conditions.status" ng-change="filter(conditions)">
                    <option value="">Alle Stadien ausgewählt</option>
                    <option value="in Planung">In Planung</option>
                    <option value="laufend">Laufend</option>
                    <option value="abgeschlossen">Abgeschlossen</option>
                    //Feldwert in services.js geändert.
                </select>
                <br>
                <span>KATEGORIE AUSWÄHLEN... </span>
                <br>
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <!--auch hier wie in maparea btn-default raus -->
                        <button class="btn btn-qz-blue" title="Nachhaltige Mobilität"
                                ng-model="conditions.categories"
                                ng-class="{'active': conditions.categories.indexOf(config.categories[0]) != -1}"
                                ng-click="setCatCondition(config.categories[0])">
                            <i class="material-icons">directions_bike</i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-qz-red" title="Nachhaltiges Wirtschaften"
                                ng-model="conditions.categories"
                                ng-class="{'active': conditions.categories.indexOf(config.categories[1]) != -1}"
                                ng-click="setCatCondition(config.categories[1])">
                            <i class="material-icons">euro_symbol</i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-qz-purple" title="Bildung und Wissenschaft"
                                ng-model="conditions.categories"
                                ng-class="{'active': conditions.categories.indexOf(config.categories[2]) != -1}"
                                ng-click="setCatCondition(config.categories[2])">
                            <i class="material-icons">school</i>
                        </button>
                    </div>
                </div>
                <div class="btn-group  btn-group-justified">
                    <div class="btn-group">
                        <button class="btn btn-qz-grey" ng-model="conditions.categories"
                                title="Gemeinschaft und Soziales"
                                ng-class="{'active': conditions.categories.indexOf(config.categories[3]) != -1}"
                                ng-click="setCatCondition(config.categories[3])">
                            <i class="material-icons">people</i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-qz-yellow" ng-model="conditions.category"
                                ng-class="{'active': conditions.categories.indexOf(config.categories[4]) != -1}"
                                ng-click="setCatCondition(config.categories[4])"
                                title="Umwelt und Raumentwicklung">
                            <i class="material-icons">nature</i>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-qz-green" ng-model="conditions.category"
                                ng-click="setCatCondition(config.categories[5])"
                                ng-class="{'active': conditions.categories.indexOf(config.categories[5]) != -1}"
                                title="Energie und Versorgung">
                            <i class="material-icons">flash_on</i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="filterArea">
                <uib-accordion close-others="true">
                <span>
                    <h4>Orte der Nachhaltigkeit - {{filteredPOIs.length}} Treffer</h4>
                </span>
                    <uib-accordion-group
                            ng-repeat="POI in filteredPOIs = (POIs | poiFilter:conditions)"
                            heading="{{POI.title}}"
                            is-open="status[POI.id]"
                            ng-click="selectPOI(POI)"
                            panel-class="{{(POI.id === selectedPOI.id) ? 'panel-info' : 'panel-default'}}"
                            scroll-top>

                        <dl>
                            <div ng-if="POI.category">
                                <dt>Kategorie</dt>
                                <dd>{{POI.category}}</dd>
                            </div>
                            <div ng-if="POI.startDate">
                                <dt>Beginn</dt>
                                <dd>{{POI.startDate | date:'dd.MM.yyyy hh:mm'}}</dd>
                            </div>
                            <div ng-if="POI.endDate">
                                <dt>Ende</dt>
                                <dd>{{POI.endDate | date:'dd.MM.yyyy HH:mm'}}</dd>
                            </div>
                            <div ng-if="POI.status">
                                <dt>Status</dt>
                                <dd>{{POI.status}}</dd>
                            </div>
                        </dl>
                        <div ng-if="POI.description" class="poiDescription">
                            <dt>Beschreibung</dt>
                            <br>
                            <span>{{POI.description}} <a href="{{POI.link}}" target="_blank">Weitere Informationen (Externer Link)</a></span>
                        </div>
                        <span class="rulesHeadline"><a
                                href="http://www.quartierzukunft.de/was-bedeutet-nachhaltigkeit-eigentlich/"
                                target="_blank  " title="Weitere Informationen zum Begriff Nachhaltigkeit">Unterstützte Nachhaltigkeitsregeln:</a></span>
                        <ul class="rules">
                            <li class="rule" ng-if="POI[short] === 1" ng-repeat="(short, rule) in config.rules">
                                {{rule}}
                            </li>
                        </ul>
                        <span class="rulesHeadline" ng-if="filteredEvents.length > 0">Termine:</span>
                        <ul class="rules">
                            <li class="rule"
                                ng-repeat="event in filteredEvents = (eventSources[0].events | filter:{pointsOfInterest_id: POI.id}:true)">
                                <span>{{event.title}}</span>
                            </li>
                        </ul>
                        <img ng-src="{{POI.imagePath}}" err-src="../img/qzIcon.png">
                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
