<form class="eventModal" name="newEventForm" ng-submit="ok()">
    <div class="modal-header">
        <h3 class="modal-title">Neuen Termin anlegen</h3>
    </div>
    <div class="modal-body">
        <div class="eventAttr">
            <!--<label for="title" class="control-label">Name</label>-->
            <input class="form-control title" ng-model="newEvent.title" id="title" name="title"
                   placeholder="Titel eingeben" type="text" ng-minlength="5" ng-maxlength="50" required>
            <span ng-show="newEventForm.$dirty && newEventForm.title.$error.required">Das ist ein Pflichtfeld.</span>
            <span ng-show="newEventForm.$dirty && newEventForm.title.$error.minlength">Mindestens 5 Zeichen.</span>
            <span ng-show="newEventForm.$dirty && newEventForm.title.$error.maxlength">Maximal 50 Zeichen.</span>
            <span ng-show="newEventForm.$dirty && newEventForm.title.$invalid">Eingabe ist ungültig.</span>
        </div>
        <div class="eventAttr">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': dates_form.dateFrom.$invalid }">
                        <label for="startdate">Von</label>
                        <div class="input-group">
                            <input name="startdate" id="startdate" class="form-control"
                                   datetimepicker
                                   ng-model="newEvent.startdate"
                                   options="dateOptions"
                                   required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error': dates_form.dateTo.$invalid }">
                        <label for="enddate">Bis</label>
                        <div class="input-group">
                            <input name="enddate" id="enddate" class="form-control"
                                   datetimepicker
                                   ng-model="newEvent.enddate"
                                   options="dateOptions"
                                   required>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <span ng-show="newEventForm.$dirty && newEventForm.startdate.$invalid && !newEventForm.startdate.$error.required">Startzeitpunkt muss gesetzt werden.</span>
            <span ng-show="newEventForm.$dirty && newEventForm.startdate.$invalid && !newEventForm.startdate.$error.required">Startzeitpunkt muss gesetzt werden.</span>
        </div>

        <div class="eventAttr">
            <label for="EventLink" class="control-label">Link:</label>
            <div><input class="form-control EventLink" id="EventLink" name="link" type="url" ng-model="newEvent.link">
            </div>
            <span ng-show="newEventForm.$dirty && newEventForm.link.$invalid">Angegebene URL ist ungültig.</span>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Speichern</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Abbrechen</button>
    </div>
</form>