<div class="main" ng-controller="adminCtrl" ng-init="admin = true" xmlns:openNewWindow xmlns="http://www.w3.org/1999/html" >

    <!-- Header, including csv-Up/Download -->
    <div class="header">
        <button class="deleteButton btn btn-danger" ng-click="deleteAllPOIs()">Alle Marker löschen! </button>
        <ng-csv-import class="csvImport"
                       content="null"
                       header="false"
                       headerVisible="false"
                       separator=";"
                       result="csvEventResult"
                       accept="'.csv'"
                       encoding="'ISO-8859-1'"
                       encodingVisible="true">
        </ng-csv-import>
        <button class="btn btn-warning"
                ng-csv="csvEventExport()"
                filename="QZ-EVENT-export.csv"
                field-separator=";"
                decimal-separator=","
                add-bom="true"
                lazy-load="true"
                csv-header="config.EVENTAttributes">
            CSV-Export
        </button>
        <span class="importBlock">EVENTs: </span>

        <ng-csv-import class="csvImport"
                       content="null"
                       header="false"
                       headerVisible="false"
                       separator=";"
                       result="csvPoiResult"
                       accept="'.csv'"
                       encoding="'ISO-8859-1'"
                       encodingVisible="true">
        </ng-csv-import>
        <button class="btn btn-warning"
                ng-csv="csvPoiExport()"
                filename="QZ-POI-export.csv"
                field-separator=";"
                decimal-separator=","
                add-bom="true"
                lazy-load="true"
                csv-header="config.POIAttributes">
            CSV-Export
        </button>
        <span class="importBlock">POIs: </span>

        <button class="btn btn-default btn-info" ng-click="seed()"> Seed
        </button>
    </div>

    <!-- ContentArea -->
    <div class="contentWrapper" ng-include="'./html/contentArea.html'"></div>

    <!-- Footer -->
    <div class="footer">QuartierZukunft, ITAS, KIT.
        <span class="pull-left">
            isMobile: {{isMobile}} - hasSmallScreen: {{hasSmallScreen}}
        </span>
        <a href="http://quartierzukunft.de/quartier-zukunft/anlass-2/" class="btn btn-default" role="button"
           target="_blank" data-toggle="tooltip" title="Beispieltext QZ." tooltip>
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        </a>
        <a href="mailto:info@quartierzukunft.de" target="_blank" class="btn btn-danger">
            <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
        </a>
        <button class="btn btn-success">
            <span class="glyphicon glyphicon-user" aria-hidden="true" ui-sref="home"></span>
        </button>
    </div>
</div>