<div ng-controller="osmTestAppCtrl" class="main">

    <div class="header">Nachhaltigkeitskarte Karlsruhe-Oststadt<button ng-click="admin = !admin" ng-class="{'active': admin}" class="btn btn-success">Admin</button></div>

    <div class="mapArea">
            <button ng-if="admin" class="deleteButton btn btn-danger" ng-click="deleteAllPOIs()">Alle Marker löschen!</button>
            <div id="simpleMap"></div>
    </div>

    <div class="infoArea">
        <h3>Points of Interest</h3>
        <div class="markerDetails">
            <table class="table">
                <tr>
                    <th>Nr.</th>
                    <th>Name</th>
                    <th>Lng</th>
                    <th>Lat</th>
                </tr>
                <tr ng-repeat="poi in POIs">
                    <td>{{$index}}</td>
                    <td>{{poi.title}}</td>
                    <td>{{poi.lng.toFixed(5)}}</td>
                    <td>{{poi.lat.toFixed(5)}}</td>
                </tr>
            </table>
        </div>
            SelectedPoi: {{selectedPOI.markerName}}
    </div>

    <div class="footer">QuartierZukunft, ITAS, KIT</div>

</div>