<div ng-controller="osmTestAppCtrl" class="main">

    <div class="header">Nachhaltigkeitskarte Karlsruhe-Oststadt
        <button ng-click="admin = !admin" class="btn btn-success" ng-class="{'active': admin}">Admin</button>
        <button ng-if="admin" class="btn btn-warning"
                ng-csv="csvExport()"
                filename="QZ-DB-export.csv"
                field-separator=";"
                decimal-separator=","
                add-bom="true"
                lazy-load="true"
                csv-header="config.POIAttributes">CSV-Export
        </button>
        <ng-csv-import ng-show="admin"
                       class="csvImport"
                       content="null"
                       header="false"
                       headerVisible="false"
                       separator=";"
                       result="csvResult"
                       accept="'.csv'"
                       encoding="'ISO-8859-1'"
                       encodingVisible="true">
        </ng-csv-import>
    </div>

    <div class="mapArea">
        <button ng-if="admin" class="deleteButton btn btn-danger" ng-click="deleteAllPOIs()">Alle Marker löschen!</button>
        <div class="filterArea well well-sm" draggable>
            <span>Filter: </span><input class="form-control" ng-model="condition" ng-change="filter(condition)">
        </div>
        <div id="simpleMap"></div>
    </div>

    <div class="infoArea">
        <div ng-if="formToggle">
            <new-poi temp-marker="tempMarker"
                     save-poi="savePOI"
                     cancel="cancel"
                     old-poi="oldPOI"
                     update-poi="updatePOI"></new-poi>
        </div>

        <div ng-if="!formToggle" class="markerDetails">
            <h3>Points of Interest</h3>
            <uib-accordion close-others="true">
                <uib-accordion-group
                        ng-repeat="POI in POIs | filter:condition"
                        heading="{{POI.title}}"
                        is-open="status.isFirstOpen"
                        is-disabled="status.isFirstDisabled"
                        ng-click="selectPOI(POI)"
                        panel-class="{{(POI.id === selectedPOI.id) ? 'panel-info' : 'panel-default'}}">
                    <dl>
                        <dt>Kategorie</dt>
                        <dd>{{POI.category}}</dd>
                        <div class="poiLink" ng-if="POI.link">
                            <dt>Link</dt>
                            <dd><a href="{{POI.link}}">hier</a></dd>
                        </div>
                        <div ng-if="POI.startDate">
                            <dt>Anfagsdatum</dt>
                            <dd>{{POI.startDate}}</dd>
                            <dt>Enddatum</dt>
                            <dd>{{POI.endDate}}</dd>
                        </div>
                        <div class="poiDescription" ng-if="POI.description">
                            <dt>Beschreibung</dt><br>
                            <span>{{POI.description}}</span>
                        </div>
                    </dl>
                    <span class="rulesHeadline">Nachhaltigkeitsregeln:</span>
                    <ul class="rules">
                        <li class="rule" ng-if="POI[short] === 1" ng-repeat="(short, rule) in config.rules">
                            {{rule}}
                        </li>
                    </ul>
                    <img ng-src="{{POI.imagePath}}" err-src="../img/qzIcon.png">
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>

    <div class="footer">QuartierZukunft, ITAS, KIT</div>

</div>