<div>
    <div class="modal-header">
        <h4 class="modal-title">Neuen POI anlegen!</h4>
    </div>
    <div class="modal-body newMarker">
        <div class="form-group">
            <div class="attrRow">
                <input class="form-control markerName" ng-model="marker.markerName" placeholder="Titel des POI eingeben" type="text">
                <div class="markerPosition dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="../bower_components/leaflet/dist/images/marker-icon.png">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <dl>
                                <dt>Longitude</dt>
                                <dd>{{marker.lng.toFixed(10)}}</dd>
                                <dt>Latitude</dt>
                                <dd>{{marker.lat.toFixed(10)}}</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="attrRow">
                <select class="form-control dropdown-toggle markerCategory" ng-model="marker.category">
                    <option style="display:none" value="">Nachhaltigkeitskategorie wählen</option>
                    <option ng-repeat="cat in config.categories">{{cat}}</option>
                </select>
            </div>

            <div class="attrRow">
                <div class="markerRules dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Nachhaltigkeitsregeln festlegen
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="(short, rule) in config.rules">
                            <div class="input-group">
                                  <span class="input-group-addon">
                                    <input type="checkbox" ng-model="marker[short]">
                                  </span>
                                  <span class="form-control">{{rule}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok(marker)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>

