<div ng-controller="osmTestAppCtrl">
    <div id="header">Nachhaltigkeitskarte Karlsruhe-Oststadt</div>
    <div id="wrap">
        <button class="deleteButton btn btn-danger" ng-click="deleteAllMarker()">Alle Marker löschen!</button>


        <div id="simpleMap"></div>

        <div class="markerDetails">
            <table class="table">
                <tr>
                    <th>Nr.</th>
                    <th>Name</th>
                    <th>Lng</th>
                    <th>Lat</th>
                </tr>
                <tr ng-repeat="m in markers">
                    <td>{{$index}}</td>
                    <td>{{m.markerName}}</td>
                    <td>{{m.lng.toFixed(5)}}</td>
                    <td>{{m.lat.toFixed(5)}}</td>
                </tr>
            </table>
        </div>

    </div>
    <div id="footer">QuartierZukunft, ITAS, KIT</div>
</div>