<div>
    <h4 ng-bind="POI.id ? 'Marker updaten' : 'Neuen Marker anlegen'"></h4>
    <div class="modal-body newPOI">
        <div class="form-group">
            <div class="attrRow">
                <label for="title" class="control-label">Name des PoI:</label>
                <input class="form-control title" ng-model="POI.title" id="title" placeholder="Titel des POI eingeben" type="text">
                <div class="POIPosition dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="../bower_components/leaflet/dist/images/marker-icon.png">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <dl>
                                <dt>Longitude</dt>
                                <dd>{{tempMarker.getLatLng().lng.toFixed(10)}}</dd>
                                <dt>Latitude</dt>
                                <dd>{{tempMarker.getLatLng().lat.toFixed(10)}}</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="attrRow">
                <label for="POICategory" class="control-label">Nachhaltigkeitskategorie:</label>
                <select class="form-control dropdown-toggle POICategory" ng-model="POI.category" id="POICategory">
                    <option style="display:none" value="">Nachhaltigkeitskategorie wählen</option>
                    <option ng-repeat="cat in config.categories">{{cat}}</option>
                </select>
            </div>

            <div class="attrRow">
                <label for="POIRules" class="control-label">Nachhaltigkeitsregeln:</label>
                <div class="POIRules dropdown" id="POIRules">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Nachhaltigkeitsregeln festlegen
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="(short, rule) in config.rules">
                            <div class="input-group">
                                  <span class="input-group-addon">
                                    <input type="checkbox" ng-model="POI[short]">
                                  </span>
                                  <span class="form-control">{{rule}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="attrRow">
                <label for="message-text" class="control-label">Beschreibung:</label>
                <textarea class="form-control" id="message-text" ng-model="POI.description" placeholder="Tragen Sie hier eine Beschreibung ein..."></textarea>
            </div>
            <div class="attrRow POIDate">
                <label for="dateTime">Veranstaltung: <input type="checkbox" ng-model="poiHasDate"></label>
                <div id="dateTime" class="dateTimeWrapper" ng-if="poiHasDate">
                    <label for="startDate" class="control-label">Anfangsdatum:</label>
                    <datetimepicker ng-model="POI.startDate"
                                    id="startDate"
                                    class="dateTimepicker"
                                    date-format="{{format}}"
                                    date-options="dateOptions"
                                    show-meridian="false">
                    </datetimepicker>
                    <label for="endDate" class="control-label">Enddatum:</label>
                    <datetimepicker ng-model="POI.endDate"
                                    id="endDate"
                                    class="dateTimepicker"
                                    date-format="{{format}}"
                                    date-options="dateOptions"
                                    show-meridian="false">
                    </datetimepicker>
                </div>
            </div>
            <div class="attrRow POIDate">
                <label for="POILink" class="control-label">Link:</label>
                <input class="form-control POILink" id="POILink" type="text" ng-model="POI.link">
            </div>
            <div class="attrRow ">
                <label for="POIImgLink" class="control-label">Bild-Link:</label>
                <input class="form-control POIImgLink" id="POIImgLink" type="text" ng-model="POI.imagePath">
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="save(POI)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>

