<form class="newPOIWrapper" name="newPoiForm" ng-submit="save(POI)">
    <h3 class="newPOIHeadline" ng-bind="POI.id ? 'Marker updaten' : 'Eintrag hinzufügen'"></h3>
    <div class="modal-body newPOI">
        <div class="form-group">
            <div class="attrRow">
                <!-- POSITION -->
                <div class="POIPosition dropdown">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">my_location</i>
                        <!--<img src="../img/marker-icon-blue.png">-->
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <dl>
                                <dt>Longitude</dt>
                                <dd>{{tempMarker.getLatLng().lng.toFixed(10)}}</dd>
                                <dt>Latitude</dt>
                                <dd>{{tempMarker.getLatLng().lat.toFixed(10)}}</dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <!-- TITLE -->
                <input class="form-control title" ng-model="POI.title" id="title" name="title" placeholder="Titel festlegen" type="text" ng-minlength="5" ng-maxlength="50" required>
                <span ng-show="newPoiForm.$dirty && newPoiForm.title.$error.required">Das ist ein Pflichtfeld.</span>
                <span ng-show="newPoiForm.$dirty && newPoiForm.title.$error.minlength">Mindestens 5 Zeichen.</span>
                <span ng-show="newPoiForm.$dirty && newPoiForm.title.$error.maxlength">Maximal 50 Zeichen.</span>
                <span ng-show="newPoiForm.$dirty && newPoiForm.title.$invalid">Eingabe ist ungültig.</span>
            </div>

            <div class="attrRow">
                <!--<label for="POICategory" class="control-label">Nachhaltigkeitskategorie:</label>-->
                <select class="form-control dropdown-toggle POICategory" ng-model="POI.category" id="POICategory" name="category" ng-minlength="3" required>
                    <option value="">Nachhaltigkeitskategorie wählen</option>
                    <option ng-repeat="cat in config.categories">{{cat}}</option>
                </select>
                <span ng-show="newPoiForm.$dirty && newPoiForm.category.$error.required">Bitte eine Kategorie wählen.</span>
                <span ng-show="newPoiForm.$dirty && newPoiForm.category.$invalid">Eingabe ist ungültig.</span>
            </div>

            <div class="attrRow">
                <!--<label for="POIRules" class="control-label">Nachhaltigkeitsregeln:</label>-->
                <div class="POIRules dropdown" id="POIRules">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Nachhaltigkeitsregeln festlegen
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="(short, rule) in config.rules">
                            <div class="input-group">
                                  <span class="input-group-addon">
                                    <input type="checkbox" ng-model="POI[short]">
                                  </span>
                                  <span class="form-control">{{rule}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="attrRow">
                <!--<label for="message-text" class="control-label">Beschreibung:</label>-->
                <textarea class="form-control description" ng-model="POI.description" id="message-text"
                          name="description" placeholder="Beschreibung (max. 600 Zeichen)" ng-maxlength="600" required>
                </textarea>
                <span ng-show="newPoiForm.$dirty && newPoiForm.description.$error.required">Das ist ein Pflichtfeld.</span>
                <span ng-show="newPoiForm.$dirty && newPoiForm.description.$error.maxlength">Maximal 600 Zeichen.</span>
                <span ng-show="newPoiForm.$dirty && newPoiForm.description.$invalid">Eingabe ist ungültig.</span>
            </div>
            <div class="attrRow POIDate">
                <div id="dateTime" class="dateTimeWrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': dates_form.dateFrom.$invalid }">
                                <label for="startdate">Von</label>
                                <div class="input-group">
                                    <input name="startdate" id="startdate" class="form-control"
                                           datetimepicker
                                           ng-model="POI.startdate"
                                           options="dateOptions"
                                           required>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error': dates_form.dateTo.$invalid }">
                                <label for="enddate">Bis</label>
                                <div class="input-group">
                                    <input name="enddate" id="enddate" class="form-control"
                                           datetimepicker
                                           ng-model="POI.enddate"
                                           options="dateOptions"
                                           required>
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span ng-show="newEventForm.$dirty && newEventForm.startdate.$invalid && !newEventForm.startdate.$error.required">Startzeitpunkt muss gesetzt werden.</span>
                    <span ng-show="newEventForm.$dirty && newEventForm.startdate.$invalid && !newEventForm.startdate.$error.required">Startzeitpunkt muss gesetzt werden.</span>
                </div>
                </div>
            </div>
            <div class="attrRow POIDate">
                <!--<label for="POILink" class="control-label">Link:</label>-->
                <input class="form-control POILink" id="POILink" name="link" placeholder="http:// - Link mit weiteren Informationen" type="url" ng-model="POI.link">
                <span ng-show="newPoiForm.$dirty && newPoiForm.link.$invalid">Angegebene URL ist ungültig.</span>
            </div>
            <div class="attrRow ">
                <!--<label for="POIImgLink" class="control-label">Bild-Link:</label>-->
                <input class="form-control POIImgLink" id="POIImgLink" name="imgpath" placeholder="http:// - Bild-Link" type="url" ng-model="POI.imagePath">
                <span ng-show="newPoiForm.$dirty && newPoiForm.imgpath.$invalid">Angegebene URL ist ungültig.</span>
            </div>
        </div>
        <label for="dateTime">
            <button type='button' ng-click="addEvent()" class="btn eventAddButton" title="Neuen Kalendereintrag hinzufügen.">
                <i class="material-icons">add_alert</i>
                <!--<i class="glyphicon glyphicon-plus"></i>-->
            </button>
            <ul class="eventList">
                <li ng-repeat="e in events">
                    <span>{{e.title}} - {{e.start | date:'dd.MM.yyyy hh:mm'}} bis {{e.end | date:'dd.MM.yyyy hh:mm'}}</span>
                    <span ng-if="e.link">Link: <a>{{e.link}}</a></span>
                    <button class="btn eventDeleteButton" ng-click="delete(e)"><i class="glyphicon glyphicon-trash"></i></button>
                </li>
            </ul>
        </label>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">Speichern</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Abbrechen</button>
    </div>
</form>

